{% extends 'base.html.twig' %}

{% block title %}Image Scrapper App | Результат анализа{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Изображения на странице {{ url }}</h1>
    
    <div class="row">
        {% for images in images %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="{{ images }}" class="card-img-top" alt="Image">
                </div>
            </div>
            {% if loop.index is divisible by(4) %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>

    <div class="mt-4">
        <h3>Результаты анализа:</h3>
        <p>На странице обнаружено {{ imagesQtt }} изображений на {{ imagesSize }} МБ.</p>
    </div>
</div>
{% endblock %}